@media screen and (max-width: 960px) {
    #desktop-nav{
        display:none;
    }

    #hamburger-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    color: black;
    height: 80px;
    padding: 0 25px;
  }


#hamburger-menu{ 
    display: grid;
    grid-template-columns: auto; 
    margin: 0;
    width: 100%;
    position: absolute; 
    top: -1000px;
    opacity: 0;
    transition: all 0.5 ease; 
    height: 50vh; 
    z-index: -1; 
    background-color: #131313; 
}

}